/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

/** Variables */
$dark-grey: #4a494a;

/** Material */
mat-slider {
  width: 146px;
}

/** Main containers */

.container {
  color: $dark-grey;

  .controls {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }
}

.remove-me {
  width: 100%;
  padding: 300px 0;
  font-size: 2em;
  text-align: center;
} 

my-todos {
  position: absolute;
  top: 0;
  z-index: 11;
}

/** Generic */
label {
  display: inline-block;
  width: 100px;
}

input {
  width: 130px;
  margin: 6px 6px 6px 8px;
  height: 25px;
  font-size: 18px;
  color: $dark-grey;

  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ff4081;
  outline: none;
}

input::placeholder {
  font-size: 13px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
